<div class="navbar-menu mb-5">
  <div class="navbar-end">
    <div class="buttons">
      {{#if logged_in}}
        <a class="button is-primary" href="/dashboard">
          <strong>{{username}}'s Dashboard</strong>
        </a>
        <button id="logout" class="button is-light">
          <strong>Logout</strong>
        </button>
      {{else}}
        <a class="button is-primary" href="/signup">
          <strong>Sign up</strong>
        </a>
        <a class="button is-light" href="/login">
          <strong>Login</strong>
        </a>
      {{/if}}
    </div>
  </div>
</div>

<div class="container">
  {{#if logged_in}}
    {{#each posts as |post|}}
      <div class="box">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{post.title}}</p>
              <p class="subtitle is-6">{{post.user.username}} | <em>{{post.createdAt}}</em></p>
            </div>
          </div>
          <div class="content mt-3">
            {{post.text}}
          </div>
        </div>
        <div class="buttons navbar-end">
          <button class="button is-info">Comment</button>
        </div>
      </div>
    {{/each}}
  {{else}}
    <h2 class="subtitle is-3 has-text-centered">Login to see the latest posts on
      Blogmire</h2>
  {{/if}}
</div>

<script src="/js/logout.js"></script>